<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>Hobbies</h1>
  <ul>
    <li>Writing web pages</li>
    <li>reading</li>
    <li>Chess</li>
    <li>Writing code</li>
  </ul>
</body>
